body{
    margin: 0px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
.header, .footer, .section{
    box-sizing: border-box;
    padding-left:10vw;
    padding-right:10vw;
    padding-top: 48px;
    padding-bottom: 48px;
}
.header, .footer, #sec1{
    background-color: #19160B;
}
.logo{
    color: #EDFFC4;
    font-size: 24px;
    font-weight: bold;
}
.header{
    position: absolute;
    height: 48px;
    top: 0;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
}
.hero{
    width: 15vw;
}

#sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 112px;
}
#sec1 span{
    width: 50%;
    color: #EDFFC4;
}
#sec1 > p{
    display: inline;
    color: #EDFFC4;
    font-size: 18px;
}

#sec2 > *{
    color: #19160B;
}
#sec2 > h2 {
    text-align: center;
}
#sec2 > span{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#sec2 > span > span{
    width: 150px;
}
#sec2 > span > span > p{
    color: #19160B;
}
#sec2 > span > span > img{
    border: 4px solid #D0A715;
    border-radius: 8px;
}
#sec3{
    background-color: #EDFFC4;
}
#sec3 > p{
    color: #19160B;
}
.quote{
    font-size: 36px;
    font-weight: lighter
}
.quoteauthor{
    text-align: right;
}

#sec4{
    padding-top: 32px;
    padding-bottom: 32px;
}
.calltoaction{
    border-radius: 6px;
    background-color: #D0A715;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.calltoaction > *{
    color: #EDFFC4;
}
.calltoaction > button{
    margin-top: 24px;
    border: 1px solid #EDFFC4;
}

.footer{
    position: static;
    bottom: 0;
    height: 96px;
    width: 100%;
    margin: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > p {
    margin-top: 12px;
    margin-bottom: 12px;
}

p, a{
    color: #EDFFC4;
}
a{
    text-decoration: none;
}
a:hover{
    color: #D0A715
}
a:active{
    color: #C17825;
}
button{
    background-color: #D0A715;
    color: #EDFFC4;
    height: 32px;
    width: 64px;
    border-radius: 8px;
    border-style: none;
}
button:active{
    background-color:#EDFFC4;
    color: #D0A715;
    border: 1px solid #D0A715;
}
img{
    margin: 24px;
}
