body{
    margin: 0px;
    font-family: Roboto, Verdana, Geneva, Tahoma, sans-serif;
}
.header, .footer, .section{
    box-sizing: border-box;
    padding-left:10%;
    padding-right:10%;
    padding-top: 48px;
    padding-bottom: 48px;
}
.header, .footer, #sec1{
    background-color: #1f2937;
}
.logo{
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}
.header{
    position: absolute;
    height: 48px;
    top: 0;
    width: 100%;
    margin: 0px;
    display: flex;
    justify-content: space-between;
}

#sec1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#sec1 span{
    margin-top: 48px;
    width: 50%;
    color: #F9FAF8;
}
#sec1 > p{
    display: inline;
    color: #E5E7EB;
    font-size: 18px;
}

#sec2 > *{
    color: black;
}

#sec3{
    background-color: #E5E7EB;
}
#sec3 > p{
    color: #1f2937;
}
.quote{
    font-size: 36px;
    font-weight: lighter
}
.quoteauthor{
    text-align: right;
}

#sec4{
    padding-top: 32px;
    padding-bottom: 32px;
}
.calltoaction{
    border-radius: 6px;
    background-color: #3882F6;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.calltoaction > *{
    color: #F9FAF8;
}
.calltoaction > button{
    margin-top: 24px;
    border: 1px solid #F9FAF8;
}

.footer{
    position: static;
    bottom: 0;
    height: 48px;
    width: 100%;
    margin: 0px;
}
p, a{
    color: #F9FAF8;
}
a{
    text-decoration: none;
}
a:hover{
    color: #3882F6
}
button{
    background-color: #3882F6;
    color: #F9FAF8;
    height: 32px;
    width: 64px;
    border-radius: 8px;
    border-style: none;
}
button:active{
    background-color:#F9FAF8;
    color: #3882F6;
    border: 1px solid #3882F6;
}
img{
    margin: 24px;
}
